h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ol, ul {
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

.recipe {
    margin-bottom: 40px;
}

.image-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}